body {
	font-size: 50%;
	font-family: sans-serif;
	background: #696969;
        color: #C71585;
}

.clear { clear: both; }

#header {
	background: #2F4F4F;
}

img {
        display: block;
        max-width: 65%;
        margin: auto;
}

#content {
	max-width: 58%;
        float: right;
}

#sidebar {
	width: 40%;
        max-width: 40%;
	float: left;
        background: #708090;
}
