body {
	font-size: 62.5%;
	font-family: Garamond, sans-serif;
	background: url(images/content-bg.png) left repeat-y #FFFADA;
}

.clear { clear: both; }

#header {
	background: #deb887;
}

img {
        display: block;
        max-width: 65%;
        margin: auto;
}

#content {
	max-width: 58%;
        float: right;
}

#sidebar {
	width: 40%;
	float: left;
	#sidebar ul {
		list-style: inside;
	}

