body {
	font-size: 62.5%;
	font-family: Garamond, sans-serif;
	background: url(images/content-bg.png) left repeat-y #FFFADA;
}

.clear { clear: both; }

#header {
	background: #e3da9f;
}

#content {
        text-align: right;
	max-width: 59%;
        img {
                position: absolute;
                right: 0px;
                width: 60%;
                padding: 0;
                margin: 0;
        }
	#main-content {
		text-align: right;
		max-width: 59%;
	}

#sidebar {
	width: 40%;
	float: left;
	#sidebar ul {
		list-style: inside;
	}

